*{
    box-sizing: border-box;
}
body{
    background-color: rgb(212, 212, 212);
    margin-left: 5%;
    margin-right: 5%;
}

header{
    border:3px solid black;
    text-align: center;
    background-color: cornsilk;
    margin-bottom: 1%;
}

#a1{
    background-color: aqua;
    margin-bottom: 2%;
    font-size: 18;
    font-weight: bold;
    font-family: 'times new roman';
    border: 2px dotted black;
    padding: 1%;
}

#a2{
    background-color: orange;
    margin-bottom: 2%;
    font-size: 16;
    font-family: Arial;
    border-style: dashed;
    padding: 1%;
}

#btnCarga{
    background-color: aqua;
    border: 2px dashed violet;
    font-family: 'Consolas';
    font-size: larger;
    font-weight: bolder;
}

#btnCarga:hover{
    font-size: 300%;
    box-shadow: 10px violet;
}

footer{
    background-color: aquamarine;
    height: 15%;
    font-size: larger;
    text-align: center;
}